<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulincover.other.dao.Related2EntryMapper">
    <select id="selectEntryIdsByTopicId" resultType="java.lang.Integer">
        select entry_id from related2entry where topic_id=#{topicId} and is_black=0;
    </select>
    <select id="selectEntryIdsByCommentId" resultType="java.lang.Integer">
        select entry_id from related2entry where comment_id=#{commentId} and is_black=0;
    </select>
</mapper>